Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

Add missing generate-testable (#2231)
  .circleci/config.yml
  auxiliary/PythERC7412Wrapper/package.json
  package.json
  protocol/oracle-manager/package.json
  utils/core-modules/package.json
  utils/core-modules/storage.dump.sol
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Separate storage verification without cannon build (#2230)
  .circleci/config.yml
  .gitignore
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/sample-project/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

Fix flakey order test (#2229)
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
Due: none

Bfp permissions (#2140)
  markets/bfp-market/contracts/modules/MarginModule.sol
  markets/bfp-market/contracts/modules/PerpAccountModule.sol
  markets/bfp-market/storage.dump.sol
  markets/bfp-market/test/integration/modules/PerpAccountModule.splitAccount.test.ts
  markets/bfp-market/test/integration/modules/PerpMarketFactoryModule.utilisation.test.ts
  markets/perps-market/storage.dump.sol
  protocol/synthetix/contracts/storage/AccountRBAC.sol
  protocol/synthetix/storage.dump.sol
Due: test-synthetix

Add minDelegateTime in BFP createMarket (#2227)
  .env.sample
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
  markets/bfp-market/storage.dump.sol
  markets/bfp-market/test/bootstrap.ts
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
  markets/bfp-market/test/integration/modules/PerpMarketFactoryModule.utilisation.test.ts
Due: none

ability to change token names from within synthetix core proxy (#2235)
  protocol/synthetix/cannonfile.toml
  protocol/synthetix/test/integration/modules/core/USDTokenModule.test.ts
Due: test-synthetix

Foundry caching (#2228)
  .circleci/config.yml
  package.json
Due: none

Revert if reducing order makes position liquidatable (#2210)
  markets/bfp-market/contracts/storage/Position.sol
  markets/bfp-market/storage.dump.sol
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
Due: none

Revert "ability to change token names from within synthetix core proxy"
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

ability to change token names from within synthetix core proxy
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

fix: add OwnableStorage.onlyOwner and tests setMinDelegationTime (#2232)
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/test/integration/modules/MarketConfigurationModule.test.ts
Due: none

update
  protocol/governance/cannonfile.optimism-mainnet.test.toml
  protocol/governance/cannonfile.snaxchain-mainnet.test.toml
Due: none

fix: L-01
  markets/bfp-market/contracts/modules/PerpRewardDistributorModule/PerpRewardDistributorFactoryModule.sol
Due: none

fix: M-01
  markets/bfp-market/contracts/modules/MarginModule.sol
Due: none

logs for commit order
  markets/bfp-market/contracts/modules/OrderModule.sol
  markets/bfp-market/contracts/storage/PerpMarket.sol
  markets/bfp-market/contracts/storage/Position.sol
  markets/bfp-market/package.json
Due: none

fix: M-02
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
  markets/bfp-market/contracts/storage/PerpMarket.sol
  markets/bfp-market/contracts/storage/Position.sol
Due: none

more logs
  markets/bfp-market/contracts/storage/PerpMarket.sol
  markets/bfp-market/contracts/storage/Position.sol
Due: none

less logs
  markets/bfp-market/contracts/modules/OrderModule.sol
Due: none

Remove unnecessary view
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
Due: none

M-01, M-02, L-01 (#2238)
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/MarginModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/PerpRewardDistributorModule/PerpRewardDistributorFactoryModule.sol
  markets/bfp-market/contracts/storage/PerpMarket.sol
  markets/bfp-market/contracts/storage/Position.sol
Due: none

changed to clone
  protocol/governance/tomls/proxy-base.toml
Due: none

test cannon files
  protocol/governance/cannonfile.optimism-mainnet.test.toml
  protocol/governance/cannonfile.optimism-snapshot-mock.test.toml
  protocol/governance/cannonfile.snaxchain-mainnet.test.toml
Due: none

👷 add size magnitude logic
  markets/perps-market/contracts/storage/AsyncOrder.sol
Due: none

📚 add docs and question
  markets/perps-market/contracts/modules/AsyncOrderSettlementPythModule.sol
Due: none

📚 add docs (wip)
  markets/perps-market/contracts/storage/GlobalPerpsMarket.sol
Due: none

📚 add docs
  markets/perps-market/contracts/storage/PerpsMarket.sol
Due: none

📚 add natspec
  markets/perps-market/contracts/storage/PerpsMarketFactory.sol
Due: none

working on getting new fee collector contract ready. still need to update the tests
  .yarn/cache/@openzeppelin-contracts-npm-5.0.2-c3d450398f-938ebffbda.zip
  auxiliary/OwnedFeeCollector/.gitignore
  auxiliary/OwnedFeeCollector/LICENSE
  auxiliary/OwnedFeeCollector/cannonfile.test.toml
  auxiliary/OwnedFeeCollector/cannonfile.toml
  auxiliary/OwnedFeeCollector/contracts/OwnedFeeCollector.sol
  auxiliary/OwnedFeeCollector/hardhat.config.ts
  auxiliary/OwnedFeeCollector/package.json
  auxiliary/OwnedFeeCollector/storage.dump.sol
  auxiliary/OwnedFeeCollector/test/integration/OwnedFeeCollector.test.ts
  auxiliary/OwnedFeeCollector/test/integration/bootstrap.ts
  auxiliary/OwnedFeeCollector/tsconfig.json
  yarn.lock
Due: none

fix build:contracts
  utils/core-modules/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix
  protocol/governance/cannonfile.optimism-mainnet.test.toml
  protocol/governance/tomls/proxy-base.toml
Due: none

update tests for the fee collector contract
  auxiliary/OwnedFeeCollector/test/integration/OwnedFeeCollector.test.ts
  auxiliary/OwnedFeeCollector/test/integration/bootstrap.ts
Due: none

add owned fee collector code to the rest of the repo
  .circleci/config.yml
  auxiliary/OwnedFeeCollector/test/integration/OwnedFeeCollector.test.ts
  auxiliary/OwnedFeeCollector/test/integration/bootstrap.ts
  utils/docgen/docgen-contracts.sh
Due: none

some fixes
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
Due: none

removed extraneous cannonfiles
  protocol/governance/cannonfile.optimism-mainnet.test.toml
  protocol/governance/cannonfile.optimism-snapshot-mock.test.toml
  protocol/governance/cannonfile.snaxchain-mainnet.test.toml
  protocol/governance/cannonfile.snaxchain-testnet.test.toml
Due: none

add small updates
  auxiliary/OwnedFeeCollector/cannonfile.toml
  auxiliary/OwnedFeeCollector/contracts/OwnedFeeCollector.sol
Due: none

updates to PR. still working on getting the tests to pass
  auxiliary/OwnedFeeCollector/cannonfile.test.toml
  auxiliary/OwnedFeeCollector/cannonfile.toml
  auxiliary/OwnedFeeCollector/contracts/OwnedFeeCollector.sol
  auxiliary/OwnedFeeCollector/package.json
  auxiliary/OwnedFeeCollector/test/integration/bootstrap.ts
  yarn.lock
Due: none

fix: H-01
  markets/bfp-market/contracts/storage/Position.sol
Due: none

fix build:contracts (#2241)
  utils/core-modules/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Split net to total delegate and undelegate
  protocol/synthetix/contracts/interfaces/ICollateralModule.sol
  protocol/synthetix/contracts/interfaces/IVaultModule.sol
  protocol/synthetix/contracts/modules/core/CollateralModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  protocol/synthetix/contracts/storage/Account.sol
  protocol/synthetix/contracts/storage/AccountDelegationIntents.sol
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
