Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

add nft distribution on satellites
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/storage.dump.sol
Due: none

some tests work
  protocol/synthetix/cannonfile.test.toml
  protocol/synthetix/cannonfile.toml
  protocol/synthetix/storage.dump.sol
  protocol/synthetix/test/integration/modules/core/CcipReceiverModule.test.ts
  protocol/synthetix/test/integration/modules/core/UtilsModule.test.ts
Due: test-synthetix

Add fix
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

feat: update spot market subgraph
  markets/spot-market/subgraph/optimism-goerli/generated/SpotMarketProxy/SpotMarketProxy.ts
Due: none

get usd amt
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

use usd values on error
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

Remove guardianship & delayed upgrade functionalities (#1801)
  protocol/governance/cannonfile.toml
  protocol/governance/contracts/modules/core/GuardianModule.sol
  protocol/governance/contracts/modules/core/OwnerModule.sol
  protocol/governance/contracts/modules/core/UpgradeProposalModule.sol
  protocol/governance/contracts/storage/ElectionSettings.sol
  protocol/governance/contracts/storage/Guardian.sol
  protocol/governance/storage.dump.sol
  protocol/governance/test/contracts/UpgradeProposalModule.test.ts
Due: none

Add satellites NFT distribution (#1787)
  protocol/governance/contracts/interfaces/IElectionInspectorModule.sol
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionInspectorModule.sol
  protocol/governance/contracts/storage/Ballot.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/Election.sol
  protocol/governance/storage.dump.sol
  utils/core-modules/contracts/storage/CrossChain.sol
Due: none

do not convert if synt us snxUSD
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

add test
  markets/perps-market/test/integration/Account/ModifyCollateral.withdraw.test.ts
Due: none

lint
  markets/perps-market/test/integration/Account/ModifyCollateral.withdraw.test.ts
Due: none

fix: add CANNON_REGISTRY_PRIORITY env
  .circleci/config.yml
  .env.sample
  markets/perps-market/storage.dump.sol
  markets/spot-market/storage.dump.sol
Due: test-spot-market

fix: setup cannon registry priority
  .circleci/config.yml
Due: none

feat: add cannon registry to commands
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/synthetix/package.json
Due: test-synthetix, test-spot-market

use constant instead of actual number
  markets/perps-market/test/integration/Account/ModifyCollateral.withdraw.test.ts
Due: none

add CANNON_REGISTRY_PRIORITY to oracle manager
  protocol/oracle-manager/package.json
Due: test-oracle-manager

fix: circle ci env
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config.yml
Due: none

echo cannon registry
  .circleci/config.yml
Due: none

fix audit feedback
  protocol/synthetix/contracts/interfaces/IMulticallModule.sol
  protocol/synthetix/contracts/modules/core/MulticallModule.sol
  protocol/synthetix/storage.dump.sol
Due: test-synthetix

Withdraw different collateral fix (#1803)
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/test/integration/Account/ModifyCollateral.withdraw.test.ts
Due: none

fix multicall tests
  protocol/synthetix/test/integration/modules/core/MulticallModule.test.ts
Due: none

SIP-325: add multicall through (#1750)
  markets/perps-market/cannonfile.toml
  markets/perps-market/storage.dump.sol
  protocol/synthetix/contracts/interfaces/IMulticallModule.sol
  protocol/synthetix/contracts/mocks/MulticallReceiver.sol
  protocol/synthetix/contracts/modules/core/MulticallModule.sol
  protocol/synthetix/storage.dump.sol
  protocol/synthetix/test/integration/modules/core/MulticallModule.test.ts
Due: test-synthetix

try
  .circleci/config.yml
  .yarn/cache/@usecannon-builder-npm-2.5.4-5c364633a3-01d4145622.zip
  .yarn/cache/@usecannon-cli-npm-2.5.4-3421c6bd88-bc20b04b38.zip
  markets/spot-market/package.json
  markets/spot-market/storage.dump.sol
  package.json
  yarn.lock
Due: test-spot-market

use oracle-manager testable for synthetix testable
  protocol/synthetix/cannonfile.test.toml
Due: test-synthetix

fix deps
  .yarn/cache/@usecannon-builder-npm-2.5.1-50cae24e32-f884038063.zip
  .yarn/cache/@usecannon-cli-npm-2.5.1-85b9f517e8-7b31ace8d8.zip
  .yarn/cache/hardhat-cannon-npm-2.5.1-966d2a1418-043c553eda.zip
  .yarn/cache/hardhat-cannon-npm-2.5.4-1759dec3e7-3ec2208fca.zip
  markets/perps-market/package.json
  markets/perps-market/subgraph/package.json
  markets/spot-market/package.json
  markets/spot-market/subgraph/package.json
  protocol/synthetix/package.json
  protocol/synthetix/subgraph/package.json
  utils/common-config/package.json
  utils/docgen/package.json
  utils/sample-project/package.json
  yarn.lock
Due: test-synthetix, test-spot-market

have to upgrade hardhat too
  .yarn/cache/@nomicfoundation-ethereumjs-block-npm-5.0.1-36ba33b8af-02591bc9ba.zip
  .yarn/cache/@nomicfoundation-ethereumjs-block-npm-5.0.2-4d950628bb-7ff744f44a.zip
  .yarn/cache/@nomicfoundation-ethereumjs-blockchain-npm-7.0.1-70afb79069-8b7a4e3613.zip
  .yarn/cache/@nomicfoundation-ethereumjs-blockchain-npm-7.0.2-d9705709ea-b7e440dcd7.zip
  .yarn/cache/@nomicfoundation-ethereumjs-common-npm-4.0.1-db8034d032-af5b599bcc.zip
  .yarn/cache/@nomicfoundation-ethereumjs-common-npm-4.0.2-2a486d4209-f0d84704d6.zip
  .yarn/cache/@nomicfoundation-ethereumjs-ethash-npm-3.0.1-1306100131-beeec9788a.zip
  .yarn/cache/@nomicfoundation-ethereumjs-ethash-npm-3.0.2-cc0ebd2006-e4011e4019.zip
  .yarn/cache/@nomicfoundation-ethereumjs-evm-npm-2.0.1-d5164cbc38-0aa2e1460e.zip
  .yarn/cache/@nomicfoundation-ethereumjs-evm-npm-2.0.2-f0d731b2a8-a23cf57083.zip
  .yarn/cache/@nomicfoundation-ethereumjs-rlp-npm-5.0.1-57535e6ba3-5a51d2cf92.zip
  .yarn/cache/@nomicfoundation-ethereumjs-rlp-npm-5.0.2-4779aec89a-a74434cade.zip
  .yarn/cache/@nomicfoundation-ethereumjs-statemanager-npm-2.0.1-2dbc89ff8f-157b503fa3.zip
  .yarn/cache/@nomicfoundation-ethereumjs-statemanager-npm-2.0.2-5465bc8cbc-3ab6578e25.zip
  .yarn/cache/@nomicfoundation-ethereumjs-trie-npm-6.0.1-d6e8b61c63-7001c32041.zip
  .yarn/cache/@nomicfoundation-ethereumjs-trie-npm-6.0.2-405eaf4fb6-d4da918d33.zip
  .yarn/cache/@nomicfoundation-ethereumjs-tx-npm-5.0.1-25e56e165c-aa3829e4a4.zip
  .yarn/cache/@nomicfoundation-ethereumjs-tx-npm-5.0.2-d7824094e9-0bbcea7578.zip
  .yarn/cache/@nomicfoundation-ethereumjs-util-npm-9.0.1-6715066745-5f8a50a25c.zip
  .yarn/cache/@nomicfoundation-ethereumjs-util-npm-9.0.2-8b4899e586-3a08f7b880.zip
  .yarn/cache/@nomicfoundation-ethereumjs-vm-npm-7.0.1-01921364a3-0f63731632.zip
  .yarn/cache/@nomicfoundation-ethereumjs-vm-npm-7.0.2-cd9b4fb94e-1c25ba4d06.zip
  .yarn/cache/hardhat-npm-2.15.0-8314009c1c-46767f0eb7.zip
  .yarn/cache/hardhat-npm-2.17.2-1d415d2ac1-7c80f45354.zip
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
  utils/sample-project/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix unnecessary await causing hang
  markets/spot-market/hardhat.config.ts
  protocol/synthetix/test/common/stakedPool.ts
Due: test-spot-market

Review fixes
  markets/perps-market/subgraph/tests/handleAccountCreated.ts
  markets/perps-market/subgraph/tests/handleAccountLiquidated.ts
  markets/perps-market/subgraph/tests/handleCollateralModified.ts
Due: none

Improve perps subgraph existing tests and add empty templates for future
  markets/perps-market/subgraph/tests/PerpsMarketProxy.test.ts
  markets/perps-market/subgraph/tests/handleAccountCreated.ts
  markets/perps-market/subgraph/tests/handleAccountLiquidated.ts
  markets/perps-market/subgraph/tests/handleCollateralModified.ts
  markets/perps-market/subgraph/tests/handleFundingParametersSet.ts
  markets/perps-market/subgraph/tests/handleLiquidationParametersSet.ts
  markets/perps-market/subgraph/tests/handleLockedOiRatioSet.ts
  markets/perps-market/subgraph/tests/handleMarketCreated.ts
  markets/perps-market/subgraph/tests/handleMarketPriceDataUpdated.ts
  markets/perps-market/subgraph/tests/handleMarketUpdated.ts
  markets/perps-market/subgraph/tests/handleOrderCommitted.ts
  markets/perps-market/subgraph/tests/handleOrderFeesSet.ts
  markets/perps-market/subgraph/tests/handleOrderSettled.ts
  markets/perps-market/subgraph/tests/handlePositionLiquidated.ts
  markets/perps-market/subgraph/tests/handlePreviousOrderExpired.ts
  markets/perps-market/subgraph/tests/handleReferrerShareUpdated.ts
  markets/perps-market/subgraph/tests/handleSettlementStrategyAdded.ts
  markets/perps-market/subgraph/tests/handleSettlementStrategyEnabled.ts
Due: none

Switch to newTypedMockEvent
  markets/perps-market/subgraph/tests/event-factories/createAccountCreatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createAccountLiquidatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createCollateralModifiedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createFundingParametersSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createLiquidationParametersSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createLockedOiRatioSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketCreatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketPriceDataUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderCommittedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderFeesSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderSettledEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createPositionLiquidatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createPreviousOrderExpiredEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createReferrerShareUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createSettlementStrategyAddedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createSettlementStrategyEnabledEvent.ts
  markets/spot-market/subgraph/tests/SpotMarketProxy.test.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderCancelledEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderCommittedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderSettledEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyAddedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyUpdatedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthPriceDataUpdatedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthUnwrappedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthWrappedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createWrapperSetEvent.ts
  protocol/synthetix/subgraph/tests/CoreProxy.test.ts
  protocol/synthetix/subgraph/tests/event-factories.ts
Due: none

Add event factories for spot market subgraph
  markets/spot-market/subgraph/tests/event-factories/createOrderCancelledEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderCommittedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderSettledEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyAddedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyUpdatedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthPriceDataUpdatedEvent.ts
Due: none

Add Error logs for not yet implemented tests
  markets/spot-market/subgraph/tests/handleOrderCancelled.ts
  markets/spot-market/subgraph/tests/handleOrderCommitted.ts
  markets/spot-market/subgraph/tests/handleOrderSettled.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyAdded.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyUpdated.ts
  markets/spot-market/subgraph/tests/handleSynthPriceDataUpdated.ts
Due: none

handleSynthUnWrapped handleSynthWrapped handleWrapperSet
  markets/spot-market/subgraph/package.json
  markets/spot-market/subgraph/tests/SpotMarketProxy.test.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthUnwrappedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSynthWrappedEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createWrapperSetEvent.ts
  markets/spot-market/subgraph/tests/handleOrderCancelled.ts
  markets/spot-market/subgraph/tests/handleOrderCommitted.ts
  markets/spot-market/subgraph/tests/handleOrderSettled.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyAdded.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyUpdated.ts
  markets/spot-market/subgraph/tests/handleSynthPriceDataUpdated.ts
  markets/spot-market/subgraph/tests/handleSynthUnWrapped.ts
  markets/spot-market/subgraph/tests/handleSynthWrapped.ts
  markets/spot-market/subgraph/tests/handleWrapperSet.ts
  yarn.lock
Due: none

Add event factories for perps market subgraph
  markets/perps-market/subgraph/tests/event-factories/createFundingParametersSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createLiquidationParametersSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createLockedOiRatioSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketCreatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketPriceDataUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createMarketUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderCommittedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderFeesSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderSettledEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createPositionLiquidatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createPreviousOrderExpiredEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createReferrerShareUpdatedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createSettlementStrategyAddedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createSettlementStrategyEnabledEvent.ts
Due: none

handleSynthPriceDataUpdated
  markets/spot-market/subgraph/tests/SpotMarketProxy.test.ts
  markets/spot-market/subgraph/tests/handleSynthPriceDataUpdated.ts
Due: none

add missing files
  protocol/synthetix/test/integration/modules/core/OffchainWormholeModule.test.ts
  utils/core-contracts/contracts/utils/CallUtil.sol
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
