Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

Update protocol package version
  protocol/synthetix/package.json
Due: test-synthetix

Add rebalanceDebt function
  markets/perps-market/contracts/interfaces/IPerpsAccountModule.sol
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

Add tests
  markets/spot-market/test/WrapperModule.test.ts
Due: none

fix some state bugs in the new modules
  markets/perps-market/contracts/modules/BookOrderModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/package.json
  yarn.lock
Due: none

Add tests
  markets/perps-market/test/integration/Account/PayDebt.test.ts
Due: none

v3.10.2 (#2350)
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/synthetix/package.json
Due: test-synthetix, test-spot-market

Update tests
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/test/integration/Account/PayDebt.test.ts
Due: none

Update rebalanceDebt function
  markets/perps-market/contracts/storage/GlobalPerpsMarketConfiguration.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

Fix typo Update README.md
  README.md
Due: none

typo fix Update README.md
  markets/spot-market/README.md
Due: test-spot-market

initial impl for treasury market
  markets/treasury-market/cannonfile.toml
  markets/treasury-market/contracts/InitialModuleBundle.sol
  markets/treasury-market/contracts/SynthetixTreasuryProxy.sol
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/contracts/interfaces/ITreasuryMarket.sol
  markets/treasury-market/contracts/interfaces/external/IV3CoreProxy.sol
  markets/treasury-market/foundry.toml
  markets/treasury-market/hardhat.config.ts
  markets/treasury-market/package.json
  markets/treasury-market/remappings.txt
  markets/treasury-market/storage.dump.json
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

tests pass 100% covered
  markets/treasury-market/cannonfile.test.toml
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/foundry.toml
  markets/treasury-market/package.json
  markets/treasury-market/remappings.txt
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
  protocol/synthetix/cannonfile.common.toml
  protocol/synthetix/cannonfile.test.toml
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

cleanup and update to match the latest stated requirements for SIP-420
  markets/perps-market/storage.dump.json
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/package.json
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
  protocol/synthetix/cannonfile.toml
  yarn.lock
Due: test-synthetix

add rebalance function, update deploy script
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/contracts/interfaces/ITreasuryMarket.sol
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

fix yarn lock and test command
  markets/treasury-market/package.json
  yarn.lock
Due: none

fix scripts
  markets/treasury-market/package.json
Due: none

remove unneeded deps; fix build testable
  markets/treasury-market/cannonfile.test.toml
  markets/treasury-market/package.json
Due: none

yarn
  yarn.lock
Due: none

add main package dependency to prevent issues with build testable
  markets/treasury-market/package.json
  yarn.lock
Due: none

what is with these package versions
  protocol/oracle-manager/package.json
Due: test-oracle-manager

add delegation migrate function
  markets/treasury-market/storage.dump.json
  protocol/synthetix/cannonfile.common.toml
  protocol/synthetix/contracts/interfaces/IVaultModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
Due: test-synthetix

fixes from review feedback
  markets/perps-market/storage.dump.json
  markets/treasury-market/cannonfile.toml
Due: none

exclude from depcheck
  markets/perps-market/storage.dump.json
  markets/treasury-market/package.json
  markets/treasury-market/storage.dump.json
Due: none

remove unnecessary files, fix yarn
  markets/treasury-market/storage.dump.json
  yarn.lock
Due: none

fix test results
  markets/perps-market/test/integration/Account/ModifyCollateral.withdraw.test.ts
  markets/perps-market/test/integration/Orders/BookOrder.test.ts
Due: none

cleanup and update to match the latest stated requirements for SIP-420
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/package.json
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
  protocol/synthetix/cannonfile.toml
  yarn.lock
Due: test-synthetix

add some tests, cleanups
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

exclude from depcheck
  markets/treasury-market/package.json
Due: none

Add missing deploy command
  markets/treasury-market/package.json
Due: none

fixes from review feedback
  markets/treasury-market/cannonfile.toml
  markets/treasury-market/storage.dump.json
Due: none

add delegation migrate function (#2355)
  protocol/synthetix/cannonfile.common.toml
  protocol/synthetix/contracts/interfaces/IVaultModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
Due: test-synthetix

add repayment penalty view function
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/contracts/interfaces/ITreasuryMarket.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

full coverage
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

initial audit feedback
  markets/treasury-market/contracts/TreasuryMarket.sol
  markets/treasury-market/contracts/interfaces/external/IV3CoreProxy.sol
  markets/treasury-market/script/Deploy.sol
  markets/treasury-market/test/TreasuryMarket.test.sol
Due: none

Replace `forge install foundry-rs/forge-std` with node_modules
  markets/treasury-market/package.json
  markets/treasury-market/remappings.txt
  yarn.lock
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
