Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

.gitlab-ci.yml:

image: ghcr.io/foundry-rs/foundry:latest

stages:
- build
- build-testable
- test

before_script:
- apk add nodejs yarn 
- export CANNON_DIRECTORY="$(pwd)/.cannon"

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - .cannon

build:
  stage: build
  script: yarn install --immutable --immutable-cache && yarn build

    #build-testable:
    #stage: build-testable
    #script: yarn workspaces foreach --topological-dev --recursive --verbose run build-testable

.test:
  stage: test
  script: yarn hardhat test
    #only:
    #refs:
    #- merge_requests

test-core-contracts:
  extends: .test
  before_script: 
  - cd utils/core-contracts
  only:
    changes:
    - utils/core-contracts/*

test-core-modules:
  extends: .test
  before_script: 
  - cd utils/core-modules
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*

test-oracle-manager:
  extends: .test
  before_script: 
  - cd protocol/oracle-manager
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/oracle-manager/*

test-synthetix:
  extends: .test
  before_script:
    - cd protocol/synthetix
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/synthetix/*

test-spot-market:
  extends: .test
  before_script:
    - cd markets/spot-market
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - markets/spot-market/*

test-perps-market:
  extends: .test
  before_script:
    - apk add nodejs yarn 
    - export CANNON_DIRECTORY="$(pwd)/.cannon"
    - yarn workspaces foreach --topological-dev --recursive --verbose run build-testable
    - cd markets/perps-market
  #only:
  #    changes:
  #  - utils/core-contracts/*
  #  - utils/core-modules/*
  #  - markets/perps-market/*

add highlight property to proxies
  markets/legacy-market/cannonfile.toml
  markets/perps-market/cannonfile.toml
  protocol/oracle-manager/cannonfile.toml
  protocol/synthetix/cannonfile.toml
  utils/sample-project/cannonfile.toml
Due: test-oracle-manager, test-synthetix

add highlight property to proxies (#1954)
  markets/legacy-market/cannonfile.toml
  markets/perps-market/cannonfile.toml
  protocol/oracle-manager/cannonfile.toml
  protocol/synthetix/cannonfile.toml
  utils/sample-project/cannonfile.toml
Due: test-oracle-manager, test-synthetix

deps fix
  auxiliary/buyback-snx/package.json
  yarn.lock
Due: none

update lock
  yarn.lock
Due: none

deps fix
  auxiliary/buyback-snx/package.json
Due: none

fine locally
  auxiliary/buyback-snx/package.json
  yarn.lock
Due: none

fix
  auxiliary/buyback-snx/contracts/BuybackSnx.sol
Due: none

SIP-345: buyback and burn snx (#1935)
  auxiliary/buyback-snx/.gitignore
  auxiliary/buyback-snx/LICENSE
  auxiliary/buyback-snx/cannonfile.test.toml
  auxiliary/buyback-snx/cannonfile.toml
  auxiliary/buyback-snx/contracts/BuybackSnx.sol
  auxiliary/buyback-snx/contracts/storage/Buyback.sol
  auxiliary/buyback-snx/hardhat.config.ts
  auxiliary/buyback-snx/package.json
  auxiliary/buyback-snx/storage.dump.sol
  auxiliary/buyback-snx/test/integration/BuybackSnx.test.ts
  auxiliary/buyback-snx/test/integration/bootstrap.ts
  auxiliary/buyback-snx/tsconfig.json
  yarn.lock
Due: none

init
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/OpGasPriceOracle/storage.dump.sol
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/PythERC7412Wrapper/storage.dump.sol
  auxiliary/SpotMarketOracle/package.json
  auxiliary/SpotMarketOracle/storage.dump.sol
  auxiliary/buyback-snx/cannonfile.toml
  auxiliary/buyback-snx/package.json
  markets/perps-market/storage.dump.sol
  markets/spot-market/storage.dump.sol
  yarn.lock
Due: test-spot-market

update storage dumps
  protocol/oracle-manager/storage.dump.sol
  protocol/synthetix/storage.dump.sol
  utils/sample-project/storage.dump.sol
Due: test-oracle-manager, test-synthetix

aux package naming etc (#1955)
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/OpGasPriceOracle/storage.dump.sol
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/PythERC7412Wrapper/storage.dump.sol
  auxiliary/SpotMarketOracle/package.json
  auxiliary/SpotMarketOracle/storage.dump.sol
  auxiliary/buyback-snx/cannonfile.toml
  auxiliary/buyback-snx/package.json
  markets/perps-market/storage.dump.sol
  markets/spot-market/storage.dump.sol
  protocol/oracle-manager/storage.dump.sol
  protocol/synthetix/storage.dump.sol
  utils/sample-project/storage.dump.sol
  yarn.lock
Due: test-oracle-manager, test-synthetix, test-spot-market

v3.3.5
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/buyback-snx/package.json
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

v3.3.5 artifacts
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/buyback-snx/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix buyback-snx
  auxiliary/buyback-snx/package.json
Due: none

Allow releases from release branch
  lerna.json
Due: none

fix buyback-snx (#1957)
  auxiliary/buyback-snx/package.json
  lerna.json
Due: none

v3.3.6
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/buyback-snx/package.json
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Only allow release branch for lerna
  lerna.json
Due: none

Update README with publishing steps
  README.md
Due: none

Clearly separate liq checks for current vs new position - Also remove tests that didn't make sense
  contracts/storage/Position.sol
  test/integration/modules/OrderModule.test.ts
Due: none

docs: updated docs on instant liq checks
  contracts/storage/Position.sol
  test/integration/modules/OrderModule.test.ts
Due: none

docs: typo smh
  contracts/storage/Position.sol
Due: none

test fixes
  auxiliary/buyback-snx/cannonfile.test.toml
  auxiliary/buyback-snx/test/integration/BuybackSnx.test.ts
  auxiliary/buyback-snx/test/integration/bootstrap.ts
Due: none

minor changes
  auxiliary/buyback-snx/cannonfile.test.toml
  auxiliary/buyback-snx/test/integration/bootstrap.ts
Due: none

Local IPFS
  .circleci/config.yml
Due: none

fix: small margin test liq margin test error (#1961)
  .circleci/config.yml
  markets/perps-market/test/integration/Account/Margins.test.ts
Due: none

Add mock and include in testable toml
  auxiliary/OpGasPriceOracle/cannonfile.test.toml
  auxiliary/OpGasPriceOracle/contracts/mocks/MockOVMGasPriceOracle.sol
Due: none

feat: clear debt function
  protocol/synthetix/contracts/interfaces/IIssueUSDModule.sol
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
  protocol/synthetix/test/integration/modules/core/IssueUSDModule.test.ts
Due: none

Use withMock toml
  auxiliary/OpGasPriceOracle/cannonfile.test.toml
  auxiliary/OpGasPriceOracle/cannonfile.withMock.toml
  auxiliary/OpGasPriceOracle/package.json
Due: none

Lerna publish on `release` branch (#1959)
  README.md
  lerna.json
Due: none

fix spelling error
  protocol/synthetix/contracts/storage/Collateral.sol
Due: none
