Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

Compile foundry only once
  .circleci/config.yml
Due: none

Avoid recursive compilation
  .circleci/config.yml
  package.json
Due: none

Weekly cannon cache to speed up build-testable
  .circleci/config.yml
Due: none

Cannon cache for non-testable hardhat build, separate cache for testable and non-testable cannon
  .circleci/config.yml
Due: none

Fix flakey order test
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
Due: none

Foundry caching (#2228)
  .circleci/config.yml
  package.json
Due: none

Separate storage verification without cannon build
  .circleci/config.yml
  .gitignore
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/sample-project/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

Always update cannon cache
  .circleci/config.yml
Due: none

Separate storage verification without cannon build (#2230)
  .circleci/config.yml
  .gitignore
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/sample-project/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

Add comment on minDelegateTime
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
Due: none

Add a setter function for minDelegateTime
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
Due: none

Update storage
  markets/bfp-market/storage.dump.sol
Due: none

Update a failing test
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
Due: none

Fix tests
  markets/bfp-market/test/integration/modules/PerpMarketFactoryModule.utilisation.test.ts
Due: none

Update utilization test
  markets/bfp-market/test/integration/modules/PerpMarketFactoryModule.utilisation.test.ts
Due: none

Add minDelegateTime in BFP createMarket (#2227)
  .env.sample
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/interfaces/IPerpMarketFactoryModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/PerpMarketFactoryModule.sol
  markets/bfp-market/storage.dump.sol
  markets/bfp-market/test/bootstrap.ts
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
  markets/bfp-market/test/integration/modules/PerpMarketFactoryModule.utilisation.test.ts
Due: none

fix: add OwnableStorage.onlyOwner and tests setMinDelegationTime
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/test/integration/modules/MarketConfigurationModule.test.ts
Due: none

fix: add OwnableStorage.onlyOwner and tests setMinDelegationTime (#2232)
  markets/bfp-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/bfp-market/contracts/modules/MarketConfigurationModule.sol
  markets/bfp-market/test/integration/modules/MarketConfigurationModule.test.ts
Due: none

Fix flakey order test (#2229)
  markets/bfp-market/test/integration/modules/OrderModule.test.ts
Due: none

Add missing generate-testable
  .circleci/config.yml
  auxiliary/PythERC7412Wrapper/package.json
  package.json
  protocol/oracle-manager/package.json
  utils/core-modules/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Add missing storage dump
  utils/core-modules/storage.dump.sol
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Add missing generate-testable (#2231)
  .circleci/config.yml
  auxiliary/PythERC7412Wrapper/package.json
  package.json
  protocol/oracle-manager/package.json
  utils/core-modules/package.json
  utils/core-modules/storage.dump.sol
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

add missing upstream check
  utils/core-utils/src/utils/solidity/compiler.ts
Due: none

Fix typos in Position.sol
  markets/bfp-market/contracts/storage/Position.sol
Due: none

this apparently fixes 10 tests
  protocol/oracle-manager/test/integration/modules/NodeModule.test.ts
Due: none

Allow Pool-level Rewards distributors in Perps
  markets/perps-market/contracts/storage/LiquidationAssetManager.sol
  markets/perps-market/package.json
Due: none

Update the test reflecting the change to allow pool level distributors
  markets/perps-market/test/integration/Market/Market.RewardDistributor.test.ts
Due: none

ability to change token names from within synthetix core proxy
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

Revert "ability to change token names from within synthetix core proxy"
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

Update cannonfile.toml
  protocol/synthetix/cannonfile.toml
Due: test-synthetix

Update USDTokenModule.test.ts
  protocol/synthetix/test/integration/modules/core/USDTokenModule.test.ts
Due: none

ability to change token names from within synthetix core proxy (#2235)
  protocol/synthetix/cannonfile.toml
  protocol/synthetix/test/integration/modules/core/USDTokenModule.test.ts
Due: test-synthetix

Remove perps docs from git
  markets/perps-market/docs/index.md
Due: none

Add missing docs to the generator and fix generation for new packages
  markets/bfp-market/hardhat.config.ts
  markets/bfp-market/package.json
  markets/legacy-market/hardhat.config.ts
  markets/perps-market/hardhat.config.ts
  markets/perps-market/package.json
  markets/spot-market/hardhat.config.ts
  markets/spot-market/package.json
  package.json
  protocol/governance/hardhat.config.ts
  protocol/governance/package.json
  protocol/oracle-manager/hardhat.config.ts
  utils/core-contracts/hardhat.config.ts
  utils/core-contracts/package.json
  utils/core-modules/hardhat.config.ts
  utils/core-modules/package.json
  utils/docgen/docgen-contracts.sh
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Deps
  utils/core-contracts/package.json
  utils/core-modules/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Append docs
  utils/docgen/docgen-contracts.sh
Due: none

Docgen contracts (#2236)
  markets/bfp-market/hardhat.config.ts
  markets/bfp-market/package.json
  markets/legacy-market/hardhat.config.ts
  markets/perps-market/docs/index.md
  markets/perps-market/hardhat.config.ts
  markets/perps-market/package.json
  markets/spot-market/hardhat.config.ts
  markets/spot-market/package.json
  package.json
  protocol/governance/hardhat.config.ts
  protocol/governance/package.json
  protocol/oracle-manager/hardhat.config.ts
  utils/core-contracts/hardhat.config.ts
  utils/core-contracts/package.json
  utils/core-modules/hardhat.config.ts
  utils/core-modules/package.json
  utils/docgen/docgen-contracts.sh
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

saving work
  protocol/governance/cannonfile.optimism-mainnet.test.toml
  protocol/governance/cannonfile.snaxchain-mainnet.test.toml
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
