Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

lint
  protocol/governance/tomls/proxy-base.toml
Due: none

Oracle manager process many (#2215) (#2301)
  markets/perps-market/contracts/modules/PerpsMarketFactoryModule.sol
  markets/perps-market/contracts/storage/PerpsPrice.sol
  markets/perps-market/test/integration/Market/MarketDebt.test.ts
  protocol/oracle-manager/contracts/interfaces/INodeModule.sol
  protocol/oracle-manager/contracts/mocks/MockPythExternalNode.sol
  protocol/oracle-manager/contracts/mocks/MockV3Aggregator.sol
  protocol/oracle-manager/contracts/modules/NodeModule.sol
  protocol/oracle-manager/contracts/nodes/ChainlinkNode.sol
  protocol/oracle-manager/contracts/nodes/ConstantNode.sol
  protocol/oracle-manager/contracts/nodes/ExternalNode.sol
  protocol/oracle-manager/contracts/nodes/PriceDeviationCircuitBreakerNode.sol
  protocol/oracle-manager/contracts/nodes/ReducerNode.sol
  protocol/oracle-manager/contracts/nodes/StalenessCircuitBreakerNode.sol
  protocol/oracle-manager/contracts/nodes/UniswapNode.sol
  protocol/oracle-manager/contracts/nodes/pyth/PythNode.sol
  protocol/oracle-manager/contracts/nodes/pyth/PythOffchainLookupNode.sol
  protocol/oracle-manager/contracts/storage/NodeDefinition.sol
  protocol/oracle-manager/test/integration/bootstrap.ts
  protocol/oracle-manager/test/integration/modules/NodeModule.test.ts
  protocol/oracle-manager/test/integration/nodes/PriceDeviationCircuitBreakerNode.test.ts
  protocol/oracle-manager/test/integration/nodes/StalenessCircuitBreakerNode.test.ts
  utils/core-contracts/contracts/utils/RevertUtil.sol
Due: none

Update cannon
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/RewardsDistributor/package.json
  auxiliary/RewardsDistributorExternal/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/perps-market/subgraph/package.json
  markets/spot-market/package.json
  markets/spot-market/subgraph/package.json
  package.json
  protocol/governance/package.json
  protocol/synthetix/subgraph/package.json
  utils/common-config/package.json
  utils/core-utils/package.json
  utils/sample-project/package.json
  yarn.lock
Due: test-spot-market

v3.7.0
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/OwnedFeeCollector/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  lerna.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/core-contracts/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

oracle manager deployment refactor
  auxiliary/TrustedMulticallForwarder/cannonfile.toml
  auxiliary/TrustedMulticallForwarder/remappings.txt
  protocol/oracle-manager/cannonfile.toml
  protocol/synthetix/cannonfile.toml
Due: test-oracle-manager, test-synthetix

not updating enum slot name
  protocol/governance/contracts/storage/SnapshotVotePower.sol
Due: none

oracle manager deployment refactor (#2291)
  auxiliary/TrustedMulticallForwarder/cannonfile.toml
  auxiliary/TrustedMulticallForwarder/remappings.txt
  protocol/oracle-manager/cannonfile.toml
  protocol/synthetix/cannonfile.toml
Due: test-oracle-manager, test-synthetix

v3.7.1
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  lerna.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

Revert "not updating enum slot name"
  protocol/governance/contracts/storage/SnapshotVotePower.sol
Due: none

Solving if exists issues (#2295)
  protocol/governance/tomls/proxy-base.toml
Due: none

Gov v3 post epoch fixes & backlog (#2279)
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionModuleSatellite.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/SnapshotVotePower.sol
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
  protocol/governance/test/integration/CrossChainElections.test.ts
  protocol/governance/test/integration/Elections.test.ts
Due: none

Revert "Gov v3 post epoch fixes & backlog (#2279)"
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionModuleSatellite.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/SnapshotVotePower.sol
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
  protocol/governance/test/integration/CrossChainElections.test.ts
  protocol/governance/test/integration/Elections.test.ts
Due: none

Pass codegen for spot market
  markets/spot-market/subgraph/base-mainnet-andromeda/generated/schema.ts
  markets/spot-market/subgraph/base-sepolia-andromeda/generated/schema.ts
  markets/spot-market/subgraph/codegen.sh
  markets/spot-market/subgraph/optimism-mainnet/generated/SpotMarketProxy/SpotMarketProxy.ts
  markets/spot-market/subgraph/optimism-mainnet/generated/schema.ts
  markets/spot-market/subgraph/subgraph.base-mainnet-andromeda.yaml
  markets/spot-market/subgraph/subgraph.base-sepolia-andromeda.yaml
  markets/spot-market/subgraph/subgraph.optimism-mainnet.yaml
Due: none

Fix build and tests for perps market subgraph
  markets/perps-market/subgraph/base-mainnet-andromeda/generated/schema.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleMaxLiquidationParametersSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleOrderCommitted.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleSettlementStrategyAdded.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleSettlementStrategySet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/schema.graphql
  markets/perps-market/subgraph/base-sepolia-andromeda/generated/schema.ts
  markets/perps-market/subgraph/base-sepolia-andromeda/schema.graphql
  markets/perps-market/subgraph/matchstick.yaml
  markets/perps-market/subgraph/package.json
  markets/perps-market/subgraph/tests/event-factories/createLiquidationParametersSetEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createOrderCommittedEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createPreviousOrderExpiredEvent.ts
  markets/perps-market/subgraph/tests/event-factories/createSettlementStrategySetEvent.ts
  markets/perps-market/subgraph/tests/handleLiquidationParametersSet.ts
  markets/perps-market/subgraph/tests/handleOrderCommitted.ts
  markets/perps-market/subgraph/tests/handlePreviousOrderExpired.ts
  markets/perps-market/subgraph/tests/handleSettlementStrategyAdded.ts
  markets/perps-market/subgraph/tests/handleSettlementStrategySet.ts
Due: none

Pass codegen for core
  protocol/synthetix/subgraph/arbitrum-sepolia/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/base-sepolia-andromeda/index.ts
  protocol/synthetix/subgraph/mainnet/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/optimism-mainnet/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/optimism-mainnet/index.ts
  protocol/synthetix/subgraph/optimism-sepolia/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/optimism-sepolia/generated/schema.ts
  protocol/synthetix/subgraph/optimism-sepolia/index.ts
  protocol/synthetix/subgraph/optimism-sepolia/schema.graphql
  protocol/synthetix/subgraph/sepolia/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/sepolia/index.ts
  protocol/synthetix/subgraph/subgraph.mainnet.yaml
  protocol/synthetix/subgraph/subgraph.optimism-mainnet.yaml
  protocol/synthetix/subgraph/subgraph.optimism-sepolia.yaml
  protocol/synthetix/subgraph/subgraph.sepolia.yaml
Due: none

Fix build for core subgraphs
  protocol/synthetix/subgraph/build.sh
Due: none

Pass codegen for perps market
  markets/perps-market/subgraph/base-mainnet-andromeda/generated/PerpsMarketProxy/PerpsMarketProxy.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/generated/schema.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleAccountCreated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleCollateralModified.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleFundingParametersSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleLiquidationParametersSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleLockedOiRatioSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleMarketCreated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleMarketPriceDataUpdated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleMarketUpdated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleMaxLiquidationParametersSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleOrderCommitted.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleOrderFeesSet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleOrderSettled.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handlePositionLiquidated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handlePreviousOrderExpired.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleReferrerShareUpdated.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleSettlementStrategyAdded.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/handleSettlementStrategySet.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/index.ts
  markets/perps-market/subgraph/base-mainnet-andromeda/schema.graphql
  markets/perps-market/subgraph/base-sepolia-andromeda/generated/PerpsMarketProxy/PerpsMarketProxy.ts
  markets/perps-market/subgraph/base-sepolia-andromeda/generated/schema.ts
  markets/perps-market/subgraph/base-sepolia-andromeda/handleSettlementStrategyAdded.ts
  markets/perps-market/subgraph/base-sepolia-andromeda/index.ts
  markets/perps-market/subgraph/optimism-goerli/generated/PerpsMarketProxy/PerpsMarketProxy.ts
  markets/perps-market/subgraph/optimism-goerli/generated/schema.ts
  markets/perps-market/subgraph/optimism-goerli/handleAccountLiquidated.ts
  markets/perps-market/subgraph/optimism-goerli/handleSettlementStrategyEnabled.ts
  markets/perps-market/subgraph/optimism-goerli/index.ts
  markets/perps-market/subgraph/optimism-goerli/schema.graphql
  markets/perps-market/subgraph/subgraph.base-mainnet-andromeda.yaml
  markets/perps-market/subgraph/subgraph.base-sepolia-andromeda.yaml
  markets/perps-market/subgraph/subgraph.optimism-goerli.yaml
  markets/perps-market/subgraph/tests/PerpsMarketProxy.test.ts
  markets/perps-market/subgraph/tests/handleSettlementStrategySet.ts
Due: none

Fix build for spot subgraph
  markets/spot-market/subgraph/base-mainnet-andromeda/generated/schema.ts
  markets/spot-market/subgraph/base-mainnet-andromeda/schema.graphql
  markets/spot-market/subgraph/base-sepolia-andromeda/generated/schema.ts
  markets/spot-market/subgraph/base-sepolia-andromeda/schema.graphql
  markets/spot-market/subgraph/optimism-mainnet/generated/schema.ts
  markets/spot-market/subgraph/optimism-mainnet/handleOrderCancelled.ts
  markets/spot-market/subgraph/optimism-mainnet/handleSettlementStrategyAdded.ts
  markets/spot-market/subgraph/optimism-mainnet/handleSettlementStrategyUpdated.ts
  markets/spot-market/subgraph/optimism-mainnet/schema.graphql
Due: none

Separate build from codegen
  .circleci/config.yml
  markets/perps-market/subgraph/build.sh
  markets/perps-market/subgraph/codegen.sh
  markets/perps-market/subgraph/package.json
  markets/spot-market/subgraph/build.sh
  markets/spot-market/subgraph/codegen.sh
  markets/spot-market/subgraph/package.json
  package.json
  protocol/synthetix/subgraph/README.md
  protocol/synthetix/subgraph/build.sh
  protocol/synthetix/subgraph/codegen.sh
  protocol/synthetix/subgraph/package.json
Due: none

Fix tests for spot subgraph
  markets/spot-market/subgraph/base-mainnet-andromeda/index.ts
  markets/spot-market/subgraph/base-sepolia-andromeda/index.ts
  markets/spot-market/subgraph/optimism-mainnet/handleSettlementStrategySet.ts
  markets/spot-market/subgraph/optimism-mainnet/index.ts
  markets/spot-market/subgraph/tests/SpotMarketProxy.test.ts
  markets/spot-market/subgraph/tests/event-factories/createOrderCancelledEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategySetEvent.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyUpdatedEvent.ts
  markets/spot-market/subgraph/tests/handleOrderCancelled.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategySet.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyUpdated.ts
Due: none

Temporarily stop running core simulation releases until oracle manager is release
  .circleci/config.yml
Due: none

fix a couple local build issues that have been persistent
  utils/core-modules/cannonfile.toml
  utils/core-utils/src/utils/solidity/compiler.ts
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

try to fix wierd ci issue
  protocol/oracle-manager/test/integration/bootstrap.ts
Due: none

try building contracts before testable on ci because something wierd is happening
  protocol/oracle-manager/package.json
Due: test-oracle-manager

try wiping
  protocol/oracle-manager/package.json
Due: test-oracle-manager

Update cannon (#2297)
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/RewardsDistributor/package.json
  auxiliary/RewardsDistributorExternal/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/perps-market/subgraph/package.json
  markets/spot-market/package.json
  markets/spot-market/subgraph/package.json
  package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/oracle-manager/test/integration/bootstrap.ts
  protocol/synthetix/subgraph/package.json
  utils/common-config/package.json
  utils/core-modules/cannonfile.toml
  utils/core-utils/package.json
  utils/core-utils/src/utils/solidity/compiler.ts
  utils/sample-project/package.json
  yarn.lock
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix small edge case in cleanAccountLocks
  protocol/synthetix/contracts/storage/Account.sol
  protocol/synthetix/test/integration/storage/AccountLocks.test.ts
Due: none

Fix liquidation module tests
  markets/bfp-market/test/integration/modules/LiquidationModule.flagPosition.test.ts
  markets/bfp-market/test/integration/modules/LiquidationModule.partialLiquidation.test.ts
Due: none

Update liquidation tests
  markets/bfp-market/test/integration/modules/LiquidationModule.getLiquidationMarginUsd.test.ts
Due: none

Update liquidation test
  markets/bfp-market/test/integration/modules/LiquidationModule.partialLiquidation.test.ts
Due: none

Remove .only
  markets/bfp-market/test/integration/modules/LiquidationModule.partialLiquidation.test.ts
Due: none

Improve basefee precision
  markets/bfp-market/test/integration/modules/LiquidationModule.partialLiquidation.test.ts
Due: none

fix more small bugs found by the auditor
  protocol/synthetix/contracts/storage/Account.sol
  protocol/synthetix/test/integration/storage/AccountLocks.test.ts
Due: none

M-04 remove pending orders on flagging and marginOnly liquidation
  markets/perps-market/contracts/modules/LiquidationModule.sol
  markets/perps-market/contracts/storage/PerpsAccount.sol
Due: none

Set a bigger tolerance
  markets/bfp-market/test/integration/modules/LiquidationModule.partialLiquidation.test.ts
Due: none

import storage library (missing commit change)
  markets/perps-market/contracts/modules/LiquidationModule.sol
Due: none

more duh
  markets/perps-market/contracts/modules/LiquidationModule.sol
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
