Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

.gitlab-ci.yml:

image: ghcr.io/foundry-rs/foundry:latest

stages:
- build
- build-testable
- test

before_script:
- apk add nodejs yarn 
- export CANNON_DIRECTORY="$(pwd)/.cannon"

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - .cannon

build:
  stage: build
  script: yarn install --immutable --immutable-cache && yarn build

    #build-testable:
    #stage: build-testable
    #script: yarn workspaces foreach --topological-dev --recursive --verbose run build-testable

.test:
  stage: test
  script: yarn hardhat test
    #only:
    #refs:
    #- merge_requests

test-core-contracts:
  extends: .test
  before_script: 
  - cd utils/core-contracts
  only:
    changes:
    - utils/core-contracts/*

test-core-modules:
  extends: .test
  before_script: 
  - cd utils/core-modules
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*

test-oracle-manager:
  extends: .test
  before_script: 
  - cd protocol/oracle-manager
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/oracle-manager/*

test-synthetix:
  extends: .test
  before_script:
    - cd protocol/synthetix
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/synthetix/*

test-spot-market:
  extends: .test
  before_script:
    - cd markets/spot-market
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - markets/spot-market/*

test-perps-market:
  extends: .test
  before_script:
    - apk add nodejs yarn 
    - export CANNON_DIRECTORY="$(pwd)/.cannon"
    - yarn workspaces foreach --topological-dev --recursive --verbose run build-testable
    - cd markets/perps-market
  #only:
  #    changes:
  #  - utils/core-contracts/*
  #  - utils/core-modules/*
  #  - markets/perps-market/*

use twoStepDelegateCollateral in cannonfile test
  protocol/synthetix/cannonfile.test.toml
Due: test-synthetix

arb main support
  protocol/synthetix/subgraph/arbitrum-mainnet/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/codegen.sh
  protocol/synthetix/subgraph/package.json
  protocol/synthetix/subgraph/sepolia/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/subgraph.arbitrum-mainnet.yaml
  protocol/synthetix/subgraph/subgraph.sepolia.yaml
Due: none

arb main support (#2177)
  protocol/synthetix/subgraph/arbitrum-mainnet/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/codegen.sh
  protocol/synthetix/subgraph/package.json
  protocol/synthetix/subgraph/sepolia/generated/CoreProxy/CoreProxy.ts
  protocol/synthetix/subgraph/subgraph.arbitrum-mainnet.yaml
  protocol/synthetix/subgraph/subgraph.sepolia.yaml
Due: none

SIP-360: Wormhole Cross Chain Integration (#2172)
  protocol/governance/cannonfile.avalanche-fuji-satelite.test.toml
  protocol/governance/cannonfile.avalanche-fuji-satelite.toml
  protocol/governance/cannonfile.optimistic-goerli-satelite.test.toml
  protocol/governance/cannonfile.optimistic-goerli-satelite.toml
  protocol/governance/cannonfile.sepolia-mothership.test.toml
  protocol/governance/cannonfile.sepolia-mothership.toml
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/IElectionModuleSatellite.sol
  protocol/governance/contracts/mocks/WormholeMock.sol
  protocol/governance/contracts/mocks/WormholeRelayerMock.sol
  protocol/governance/contracts/modules/core/CrossChainModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionModuleSatellite.sol
  protocol/governance/contracts/modules/core/WormholeCrossChainModule.sol
  protocol/governance/storage.dump.sol
  protocol/governance/test/contracts/ElectionModule/Initialization.test.ts
  protocol/governance/test/contracts/ElectionModule/Schedule.test.ts
  protocol/governance/test/contracts/ElectionModule/Voting.test.ts
  protocol/governance/test/contracts/ElectionSchedule.test.ts
  protocol/governance/test/contracts/ElectionSettings.test.ts
  protocol/governance/test/helpers/spin-chain.ts
  protocol/governance/test/integration/CrossChainElections.test.ts
  protocol/governance/test/integration/Elections.test.ts
  protocol/governance/test/integration/Evaluation.test.ts
  protocol/governance/test/integration/bootstrap.ts
  protocol/governance/tomls/ccip.test.toml
  utils/core-modules/cannonfile.test.toml
  utils/core-modules/contracts/interfaces/ICrossChainModule.sol
  utils/core-modules/contracts/interfaces/IWormhole.sol
  utils/core-modules/contracts/interfaces/IWormholeReceiver.sol
  utils/core-modules/contracts/interfaces/IWormholeRelayer.sol
  utils/core-modules/contracts/mocks/WormholeMock.sol
  utils/core-modules/contracts/mocks/WormholeRelayerMock.sol
  utils/core-modules/contracts/modules/CrossChainModule.sol
  utils/core-modules/contracts/modules/WormholeCrossChainModule.sol
  utils/core-modules/contracts/storage/WormholeCrossChain.sol
  utils/core-modules/tasks/dev.ts
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

reset yarn.lock
  yarn.lock
Due: none

fix added old contracts
  protocol/governance/cannonfile.toml
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/contracts/submodules/election/CrossChainDebtShareManager.sol
  protocol/governance/contracts/submodules/election/DebtShareManager.sol
  protocol/governance/contracts/submodules/election/ElectionVotes.sol
  protocol/governance/storage.dump.sol
Due: none

fix test (attempt)
  protocol/synthetix/cannonfile.test.toml
  protocol/synthetix/test/common/stakers.ts
Due: test-synthetix

fix and add more tests
  markets/perps-market/contracts/storage/PerpsAccount.sol
  markets/perps-market/test/integration/Market/MarketDebt.withFunding.test.ts
  markets/perps-market/test/integration/Orders/OffchainAsyncOrder.fees.test.ts
Due: none

uses right FF
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
Due: none

test both modes
  protocol/synthetix/test/common/stakedPool.ts
  protocol/synthetix/test/common/stakers.ts
  protocol/synthetix/test/integration/bootstrap.ts
  protocol/synthetix/test/integration/modules/core/VaultModule.legacyDelagate.test.ts
Due: none

remove duplicated code
  protocol/synthetix/contracts/modules/core/VaultModule.sol
Due: none

update storage
  markets/bfp-market/storage.dump.sol
  markets/perps-market/storage.dump.sol
  protocol/synthetix/storage.dump.sol
Due: test-synthetix

rename getValid
  protocol/synthetix/contracts/modules/core/LiquidationModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  protocol/synthetix/contracts/storage/AccountDelegationIntents.sol
Due: none

add test for margin only liquidation
  markets/perps-market/cannonfile.test.toml
  markets/perps-market/contracts/interfaces/IGlobalPerpsMarketModule.sol
  markets/perps-market/contracts/interfaces/ILiquidationModule.sol
  markets/perps-market/contracts/modules/GlobalPerpsMarketModule.sol
  markets/perps-market/contracts/modules/LiquidationModule.sol
  markets/perps-market/contracts/storage/GlobalPerpsMarketConfiguration.sol
  markets/perps-market/test/integration/Liquidation/Liquidation.marginOnly.test.ts
  markets/perps-market/test/integration/Markets/GlobalPerpsMarket.test.ts
  markets/perps-market/test/integration/bootstrap/bootstrap.ts
Due: none

add global min/max to delegate delay and window
  protocol/synthetix/contracts/storage/Pool.sol
Due: none

update storage dump
  markets/bfp-market/storage.dump.sol
  markets/perps-market/storage.dump.sol
  protocol/synthetix/storage.dump.sol
Due: test-synthetix

storage dump fix
  markets/perps-market/storage.dump.sol
Due: none

Add test to both FFs enabled
  protocol/synthetix/test/integration/modules/core/VaultModule.test.ts
Due: none

Link `AccountDelegationIntents` directly to `Account`
  markets/bfp-market/storage.dump.sol
  markets/perps-market/storage.dump.sol
  protocol/synthetix/contracts/modules/core/LiquidationModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  protocol/synthetix/contracts/storage/Account.sol
  protocol/synthetix/contracts/storage/AccountDelegationIntents.sol
  protocol/synthetix/storage.dump.sol
Due: test-synthetix

fix audit feedbacks
  markets/legacy-market/cannonfile.test.toml
  markets/legacy-market/cannonfile.toml
  markets/legacy-market/contracts/LegacyMarket.sol
  markets/legacy-market/test/integration/LegacyMarket.ts
Due: none

fix cannon dependencies
  .yarn/cache/@usecannon-cli-npm-2.10.6-2605cea823-69ee6d54cd.zip
  .yarn/cache/fs-extra-npm-10.1.0-86573680ed-05ce2c3b59.zip
  .yarn/cache/promise-timeout-npm-1.3.0-da64435a64-4faa906ba2.zip
  .yarn/cache/tildify-npm-2.0.0-324bfdd523-0f5fee9362.zip
  protocol/governance/package.json
  protocol/governance/test/bootstrap.ts
  utils/sample-project/package.json
  utils/sample-project/test/bootstrap.js
  yarn.lock
Due: none

fix tests to be compatible with latest cannon
  protocol/governance/cannonfile.optimistic-sepolia-satelite.test.toml
  protocol/governance/cannonfile.optimistic-sepolia-satelite.toml
  protocol/governance/tasks/dev.ts
  protocol/governance/test/helpers/spin-chain.ts
  protocol/governance/test/integration/CrossChainElections.test.ts
  protocol/governance/test/integration/Elections.test.ts
  protocol/governance/test/integration/bootstrap.ts
  utils/core-modules/tasks/dev.ts
  utils/core-modules/test/helpers/cannon.ts
Due: none

fix events parsing
  protocol/governance/test/integration/CrossChainElections.test.ts
Due: none

fix chainId
  protocol/governance/test/integration/Elections.test.ts
Due: none

fixed chain id problems
  markets/bfp-market/storage.dump.sol
  protocol/governance/cannonfile.optimistic-sepolia-satelite.toml
  protocol/governance/tasks/dev.ts
  protocol/governance/test/integration/Elections.test.ts
  utils/common-config/hardhat.config.ts
Due: none

undo storage dump change
  markets/bfp-market/storage.dump.sol
Due: none

undo utils hardhat config change
  utils/common-config/hardhat.config.ts
Due: none

prettier *
  protocol/governance/cannonfile.avalanche-fuji-satelite.toml
  protocol/governance/cannonfile.optimistic-sepolia-satelite.toml
  protocol/governance/cannonfile.satellite.toml
  protocol/governance/cannonfile.sepolia-mothership.test.toml
  protocol/governance/cannonfile.sepolia-mothership.toml
  protocol/governance/cannonfile.test.toml
  protocol/governance/cannonfile.toml
  protocol/governance/contracts/interfaces/ICouncilTokenModule.sol
  protocol/governance/contracts/mocks/CcipRouterMock.sol
  protocol/governance/contracts/modules/core/AssociatedSystemsModule.sol
  protocol/governance/contracts/modules/core/CcipReceiverModule.sol
  protocol/governance/test/integration/CrossChainElections.test.ts
  protocol/governance/tomls/council-token.toml
  utils/core-modules/contracts/mocks/WormholeMock.sol
  utils/core-modules/test/helpers/cannon.ts
Due: none

prettier .sol
  utils/core-modules/contracts/mocks/WormholeMock.sol
Due: none

sUSD collateral needs to be added - Its added to `minimumCredit`, to align properly with core creditCapacity > minCredit - So it needs to be added to our delegatedCollateralValue.
  markets/bfp-market/contracts/storage/Position.sol
Due: none

sUSD collateral needs to be added (#2180)
  markets/bfp-market/contracts/storage/Position.sol
Due: none

implement other audit feedbacks
  markets/legacy-market/contracts/LegacyMarket.sol
Due: none

fix linter
  protocol/governance/package.json
  utils/core-modules/package.json
  utils/core-utils/src/utils/bootstrap/tests.ts
  yarn.lock
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Fix deps
  protocol/governance/package.json
  yarn.lock
Due: none

fix some lint issues
  protocol/governance/contracts/interfaces/IElectionInspectorModule.sol
  protocol/governance/contracts/interfaces/external/ISnapshotRecord.sol
  protocol/governance/contracts/mocks/SnapshotRecordMock.sol
  protocol/governance/contracts/modules/core/ElectionInspectorModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/Election.sol
  protocol/governance/contracts/storage/Epoch.sol
  protocol/governance/contracts/submodules/election/ElectionTally.sol
  protocol/governance/tasks/dev.ts
  protocol/governance/test/integration/Elections.test.ts
  protocol/governance/test/integration/Evaluation.test.ts
  utils/core-modules/contracts/interfaces/IWormhole.sol
  utils/core-modules/contracts/mocks/WormholeMock.sol
  utils/core-modules/contracts/storage/CrossChain.sol
  utils/core-modules/contracts/storage/WormholeCrossChain.sol
  utils/core-modules/test/helpers/cannon.ts
Due: none
