Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

.gitlab-ci.yml:

image: ghcr.io/foundry-rs/foundry:latest

stages:
- build
- build-testable
- test

before_script:
- apk add nodejs yarn 
- export CANNON_DIRECTORY="$(pwd)/.cannon"

# This folder is cached between builds
# https://docs.gitlab.com/ee/ci/yaml/index.html#cache
cache:
  paths:
    - .cannon

build:
  stage: build
  script: yarn install --immutable --immutable-cache && yarn build

    #build-testable:
    #stage: build-testable
    #script: yarn workspaces foreach --topological-dev --recursive --verbose run build-testable

.test:
  stage: test
  script: yarn hardhat test
    #only:
    #refs:
    #- merge_requests

test-core-contracts:
  extends: .test
  before_script: 
  - cd utils/core-contracts
  only:
    changes:
    - utils/core-contracts/*

test-core-modules:
  extends: .test
  before_script: 
  - cd utils/core-modules
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*

test-oracle-manager:
  extends: .test
  before_script: 
  - cd protocol/oracle-manager
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/oracle-manager/*

test-synthetix:
  extends: .test
  before_script:
    - cd protocol/synthetix
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - protocol/synthetix/*

test-spot-market:
  extends: .test
  before_script:
    - cd markets/spot-market
  only:
    changes:
    - utils/core-contracts/*
    - utils/core-modules/*
    - markets/spot-market/*

test-perps-market:
  extends: .test
  before_script:
    - apk add nodejs yarn 
    - export CANNON_DIRECTORY="$(pwd)/.cannon"
    - yarn workspaces foreach --topological-dev --recursive --verbose run build-testable
    - cd markets/perps-market
  #only:
  #    changes:
  #  - utils/core-contracts/*
  #  - utils/core-modules/*
  #  - markets/perps-market/*

try storage dump ci work
  .circleci/config.yml
  .gitignore
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/hardhat-storage/src/tasks/verify.ts
  utils/sample-project/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

Make yarn great again (#2282)
  .circleci/config.yml
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  eslint.config.js
Due: none

move hre back
  utils/core-utils/src/utils/bootstrap/tests.ts
Due: none

fix check test
  .circleci/config.yml
Due: none

update commands
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/sample-project/package.json
Due: test-oracle-manager, test-synthetix, test-spot-market

build everything, not just ts
  .circleci/config.yml
Due: none

more fixes
  .circleci/config.yml
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/BuybackSnx/storage.dump.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/storage.dump.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/SpotMarketOracle/storage.dump.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/storage.dump.json
  markets/bfp-market/package.json
  markets/legacy-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  package.json
  protocol/governance/package.json
  protocol/governance/storage.dump.json
  protocol/governance/storage.dump.sol
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/core-modules/package.json
  utils/core-modules/storage.dump.json
  utils/core-utils/src/utils/solidity/compiler.ts
  utils/hardhat-storage/src/internal/dump.ts
  utils/sample-project/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix local quirk
  utils/core-utils/src/utils/solidity/compiler.ts
Due: none

fix
  .circleci/config.yml
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  eslint.config.js
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/core-modules/package.json
  utils/sample-project/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

ignore whitespace
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/governance/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/core-modules/package.json
  utils/sample-project/package.json
Due: test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

add check compile step
  utils/hardhat-storage/src/tasks/dump.ts
Due: none

prettier got in the way
  .prettierignore
  protocol/governance/storage.dump.json
Due: none

fix more
  markets/perps-market/storage.dump.json
  markets/spot-market/storage.dump.json
Due: test-spot-market

add copy storage job to ensure its in sync before commit
  package.json
Due: none

Always pass package audit
  .circleci/config.yml
Due: none

Dedupe
  yarn.lock
Due: none

small fix to the copy storage pre commit hook
  package.json
Due: none

use git merge base
  .circleci/config.yml
Due: none

🗑️ remove .only
  markets/perps-market/test/integration/Insolvent.test.ts
Due: none

🔴 H-01: Required Credit Check Can DoS Decrease Orders (#2239)
  markets/perps-market/contracts/modules/AsyncOrderSettlementPythModule.sol
  markets/perps-market/contracts/storage/AsyncOrder.sol
  markets/perps-market/contracts/storage/GlobalPerpsMarket.sol
  markets/perps-market/contracts/storage/PerpsMarket.sol
  markets/perps-market/contracts/storage/PerpsMarketFactory.sol
  markets/perps-market/test/integration/Insolvent.test.ts
Due: none

lint fix
  markets/perps-market/contracts/modules/AsyncOrderSettlementPythModule.sol
  markets/perps-market/contracts/storage/AsyncOrder.sol
  markets/perps-market/contracts/storage/GlobalPerpsMarket.sol
Due: none

✅ add restore snapshot
  markets/perps-market/test/integration/Insolvent.test.ts
Due: none

remove rogue .only
  markets/perps-market/test/integration/Insolvent.test.ts
Due: none

partially close the last position
  markets/perps-market/test/integration/Insolvent.test.ts
Due: none

bump cannon versions
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/RewardsDistributor/package.json
  auxiliary/RewardsDistributorExternal/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/perps-market/subgraph/package.json
  markets/spot-market/package.json
  markets/spot-market/subgraph/package.json
  protocol/governance/package.json
  protocol/synthetix/subgraph/package.json
  utils/common-config/package.json
  utils/core-utils/package.json
  utils/sample-project/package.json
  yarn.lock
Due: test-spot-market

🔴 H-01: Required Credit Check Can DoS Decrease Orders (#2239) (#2287)
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/RewardsDistributor/package.json
  auxiliary/RewardsDistributorExternal/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  markets/bfp-market/package.json
  markets/perps-market/contracts/modules/AsyncOrderSettlementPythModule.sol
  markets/perps-market/contracts/storage/AsyncOrder.sol
  markets/perps-market/contracts/storage/GlobalPerpsMarket.sol
  markets/perps-market/contracts/storage/PerpsMarket.sol
  markets/perps-market/contracts/storage/PerpsMarketFactory.sol
  markets/perps-market/package.json
  markets/perps-market/subgraph/package.json
  markets/perps-market/test/integration/Insolvent.test.ts
  markets/spot-market/package.json
  markets/spot-market/subgraph/package.json
  protocol/governance/package.json
  protocol/synthetix/subgraph/package.json
  utils/common-config/package.json
  utils/core-utils/package.json
  utils/sample-project/package.json
  yarn.lock
Due: test-spot-market

v3.6.1
  auxiliary/ArbitrumGasPriceOracle/package.json
  auxiliary/BuybackSnx/package.json
  auxiliary/ERC4626ToAssetsRatioOracle/package.json
  auxiliary/OpGasPriceOracle/package.json
  auxiliary/OwnedFeeCollector/package.json
  auxiliary/PythERC7412Wrapper/package.json
  auxiliary/RewardsDistributor/package.json
  auxiliary/RewardsDistributorExternal/package.json
  auxiliary/SpotMarketOracle/package.json
  auxiliary/WstEthToStEthRatioOracle/package.json
  lerna.json
  markets/bfp-market/package.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

added salt
  protocol/governance/tomls/proxy-base.toml
Due: none

added salt (#2289)
  protocol/governance/tomls/proxy-base.toml
Due: none

add salt to initialModuleBundle
  protocol/governance/storage.dump.json
  protocol/governance/tomls/proxy-base.toml
Due: none

fix
  protocol/governance/tomls/proxy-base.toml
Due: none

tasontaeis
  protocol/governance/storage.dump.json
Due: none

added _recvCast fix to allow counts in eval period
  protocol/governance/contracts/modules/core/ElectionModule.sol
Due: none

initial modulebundle salt
  protocol/governance/tomls/proxy-base.toml
Due: none

trying something
  protocol/governance/contracts/storage/SnapshotVotePower.sol
  protocol/governance/storage.dump.json
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
Due: none

added tests for quadratic scaling
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
Due: none

lint
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
Due: none

wip
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISnapshotVotePowerModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/governance/contracts/modules/core/SnapshotVotePowerModule.sol
  protocol/governance/contracts/storage/Council.sol
  protocol/governance/contracts/storage/SnapshotVotePower.sol
  protocol/governance/package.json
  protocol/governance/test/contracts/SnapshotVotePowerModule.test.ts
  protocol/governance/test/integration/Elections.test.ts
Due: none
