Repository Synthetixio/synthetix-v3: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

test-core-contracts:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-contracts

test-core-modules:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd utils/core-modules

test-oracle-manager:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/oracle-manager

test-synthetix:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd protocol/synthetix

test-spot-market:
  stage: test
  script: yarn hardhat test
  before_script:
  - cd markets/spot-market

v3.3.0
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

fix inclusion of chainid in publish-contracts
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

v3.3.1
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

v3.3.2
  lerna.json
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/core-utils/package.json
  utils/hardhat-storage/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

⛳️ Optimize MathUtil.abs
  contracts/modules/PerpAccountModule.sol
  contracts/storage/Order.sol
  contracts/storage/PerpMarketConfiguration.sol
  contracts/storage/Position.sol
  contracts/utils/MathUtil.sol
Due: none

Update Oracle Manager README.md
  protocol/oracle-manager/README.md
Due: test-oracle-manager

📣 Move event to interface
  contracts/interfaces/IPerpMarketFactoryModule.sol
Due: none

👷🏻‍♂️ Update name()
  contracts/modules/PerpMarketFactoryModule.sol
Due: none

test: add more flagPosition tests
  test/generators.ts
  test/integration/modules/LiquidationModule.test.ts
Due: none

fix+test: Add updateMarketPreLiquidation, tests, and bugs
  contracts/modules/LiquidationModule.sol
  test/helpers.ts
  test/integration/modules/LiquidationModule.test.ts
Due: none

test+feat: PositionNotFound on liquidation and more tests
  contracts/modules/LiquidationModule.sol
  test/integration/modules/LiquidationModule.test.ts
Due: none

feat+test: Add remainingSize on LiquidatedPosition and more tests
  contracts/interfaces/ILiquidationModule.sol
  contracts/modules/LiquidationModule.sol
  test/integration/modules/LiquidationModule.test.ts
Due: none

Fix workspace dependencies
  .eslintignore
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/hardhat-storage/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Include more files when calculating contracts cache key
  .circleci/config.yml
Due: none

Align deployements location with other subgraphs
  protocol/synthetix/subgraph/.gitignore
  protocol/synthetix/subgraph/codegen.js
  protocol/synthetix/subgraph/package.json
  protocol/synthetix/subgraph/subgraph.goerli.yaml
  protocol/synthetix/subgraph/subgraph.mainnet.yaml
  protocol/synthetix/subgraph/subgraph.optimism-goerli.yaml
  protocol/synthetix/subgraph/subgraph.optimism-mainnet.yaml
Due: none

Update perps subgraph handler for LiquidationParametersSet event
  markets/perps-market/subgraph/optimism-goerli/generated/PerpsMarketProxy/PerpsMarketProxy.ts
  markets/perps-market/subgraph/optimism-goerli/handleLiquidationParametersSet.ts
  markets/perps-market/subgraph/subgraph.optimism-goerli.yaml
  markets/perps-market/subgraph/tests/event-factories/createLiquidationParametersSetEvent.ts
Due: none

Update Spot Market subgraph
  markets/spot-market/subgraph/optimism-goerli/generated/SpotMarketProxy/SpotMarketProxy.ts
Due: none

Update subgraphs again
  markets/perps-market/subgraph/optimism-goerli/generated/PerpsMarketProxy/PerpsMarketProxy.ts
  markets/spot-market/subgraph/optimism-goerli/generated/SpotMarketProxy/SpotMarketProxy.ts
  protocol/synthetix/subgraph/optimism-goerli/generated/CoreProxy/CoreProxy.ts
Due: none

handleSettlementStrategyAdded
  markets/spot-market/subgraph/tests/SpotMarketProxy.test.ts
  markets/spot-market/subgraph/tests/event-factories/createSettlementStrategyAddedEvent.ts
  markets/spot-market/subgraph/tests/handleSettlementStrategyAdded.ts
Due: none

Fix workspace dependencies (#1808)
  .circleci/config.yml
  .eslintignore
  markets/perps-market/package.json
  markets/spot-market/package.json
  protocol/oracle-manager/package.json
  protocol/synthetix/package.json
  utils/common-config/package.json
  utils/core-contracts/package.json
  utils/core-modules/package.json
  utils/hardhat-storage/package.json
  yarn.lock
Due: test-core-contracts, test-core-modules, test-oracle-manager, test-synthetix, test-spot-market

Scry Metamorph support
  protocol/oracle-manager/contracts/modules/NodeModule.sol
  protocol/oracle-manager/contracts/storage/NodeDefinition.sol
Due: none

feat: Add keeperLiquidationEndorsed and liquidationMaxPd
  contracts/interfaces/IMarketConfigurationModule.sol
  contracts/modules/MarketConfigurationModule.sol
  contracts/storage/PerpMarketConfiguration.sol
  test/data/markets.fixture.ts
  test/generators.ts
Due: none

test: Add more unimpl tests for liquidationCapacity
  test/integration/modules/LiquidationModule.test.ts
Due: none

Burn debt for another user for free
  protocol/synthetix/test/integration/modules/core/IssueUSDModule.test.ts
Due: none

test
  protocol/oracle-manager/test/integration/mixins/Node.types.ts
Due: none

test
  protocol/oracle-manager/contracts/interfaces/external/IScryMetaMorph.sol
  protocol/oracle-manager/contracts/mocks/MockScryMetamorph.sol
  protocol/oracle-manager/contracts/nodes/ScryMetaMorphNode.sol
  protocol/oracle-manager/test/integration/nodes/ScryMetamorph.test.ts
Due: none

Add explicit state visibility (lint warning)
  protocol/synthetix/contracts/modules/core/MulticallModule.sol
Due: none

Small Audit fixes
  markets/perps-market/contracts/interfaces/ICollateralModule.sol
  markets/perps-market/contracts/modules/GlobalPerpsMarketModule.sol
  markets/perps-market/contracts/modules/MarketConfigurationModule.sol
  markets/perps-market/contracts/modules/PerpsAccountModule.sol
  markets/perps-market/contracts/modules/PerpsMarketModule.sol
  markets/perps-market/contracts/storage/GlobalPerpsMarket.sol
  markets/perps-market/contracts/storage/PerpsMarket.sol
  markets/perps-market/contracts/storage/SettlementStrategy.sol
Due: none

feat: add permission to burn for account
  markets/spot-market/test/AtomicOrderModule.buy.test.ts
  protocol/synthetix/contracts/modules/core/IssueUSDModule.sol
  protocol/synthetix/contracts/storage/AccountRBAC.sol
  protocol/synthetix/storage.dump.sol
  protocol/synthetix/test/integration/mixins/AccountRBACMixin.permissions.ts
  protocol/synthetix/test/integration/modules/core/IssueUSDModule.test.ts
Due: test-synthetix

fix: linting issue
  markets/spot-market/test/AtomicOrderModule.buy.test.ts
Due: none

👷🏻‍♂️ Organize imports, remove check, decrease allowance
  contracts/modules/MarginModule.sol
Due: none

🗑️ Remove checks
  contracts/modules/MarginModule.sol
Due: none

🗑️ Remove check
  contracts/modules/OrderModule.sol
Due: none

👷🏻‍♂️ Organize imports, remove check
  contracts/modules/OrderModule.sol
Due: none

fix linting issues
  .solhint.json
  .solhintignore
  markets/legacy-market/contracts/LegacyMarket.sol
  markets/perps-market/contracts/mocks/FeeCollectorMock.sol
  protocol/synthetix/contracts/mocks/RewardDistributorMock.sol
  protocol/synthetix/contracts/modules/core/MulticallModule.sol
Due: none

fix solhint plugin payable's resolution
  package.json
  yarn.lock
Due: none

last lint fix pass
  markets/legacy-market/contracts/LegacyMarket.sol
  markets/perps-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/perps-market/contracts/interfaces/IPerpsAccountModule.sol
  markets/perps-market/contracts/mocks/FeeCollectorMock.sol
  markets/perps-market/contracts/modules/GlobalPerpsMarketModule.sol
  markets/perps-market/contracts/modules/LiquidationModule.sol
  markets/perps-market/contracts/modules/MarketConfigurationModule.sol
  markets/spot-market/contracts/interfaces/IMarketConfigurationModule.sol
  markets/spot-market/contracts/interfaces/ISpotMarketFactoryModule.sol
  markets/spot-market/contracts/mocks/FeeCollectorMock.sol
  markets/spot-market/contracts/modules/MarketConfigurationModule.sol
  markets/spot-market/contracts/modules/SpotMarketFactoryModule.sol
  markets/spot-market/contracts/modules/WrapperModule.sol
  protocol/governance/contracts/interfaces/IElectionModule.sol
  protocol/governance/contracts/interfaces/ISynthetixElectionModule.sol
  protocol/governance/contracts/modules/core/BaseElectionModule.sol
  protocol/governance/contracts/modules/core/ElectionModule.sol
  protocol/synthetix/contracts/interfaces/ICollateralModule.sol
  protocol/synthetix/contracts/interfaces/IMarketManagerModule.sol
  protocol/synthetix/contracts/interfaces/IUtilsModule.sol
  protocol/synthetix/contracts/interfaces/IVaultModule.sol
  protocol/synthetix/contracts/mocks/CollateralMockWithoutDecimals.sol
  protocol/synthetix/contracts/mocks/RewardDistributorMock.sol
  protocol/synthetix/contracts/modules/core/CcipReceiverModule.sol
  protocol/synthetix/contracts/modules/core/CollateralConfigurationModule.sol
  protocol/synthetix/contracts/modules/core/MarketManagerModule.sol
  protocol/synthetix/contracts/modules/core/MulticallModule.sol
  protocol/synthetix/contracts/modules/core/PoolModule.sol
  protocol/synthetix/contracts/modules/core/VaultModule.sol
  utils/core-contracts/contracts/interfaces/IERC20.sol
  utils/core-contracts/contracts/mocks/utils/ERC165HelperMock.sol
  utils/core-contracts/contracts/token/ERC20.sol
  utils/core-contracts/contracts/token/ERC721.sol
  utils/core-modules/contracts/modules/FeatureFlagModule.sol
  utils/core-modules/contracts/modules/TokenModule.sol
Due: none

fix failure in core-contracts
  .yarn/cache/solhint-plugin-payable-npm-0.1.0-9340dc33e3-efaebfcf92.zip
  utils/core-contracts/contracts/interfaces/IERC721Receiver.sol
  utils/core-contracts/contracts/mocks/proxy/UUPSImplementationMock.sol
  utils/core-contracts/contracts/mocks/token/ERC721FailedReceiverMock.sol
  utils/core-contracts/contracts/mocks/token/ERC721RevertingReceiverMock.sol
Due: none

Path conditions:
  test-core-contracts: any of: utils/core-contracts/*
  test-core-modules: any of: utils/core-contracts/*, utils/core-modules/*
  test-oracle-manager: any of: utils/core-contracts/*, utils/core-modules/*, protocol/oracle-manager/*
  test-synthetix: any of: utils/core-contracts/*, utils/core-modules/*, protocol/synthetix/*
  test-spot-market: any of: utils/core-contracts/*, utils/core-modules/*, markets/spot-market/*
